In [172]:
import json
import pandas as pd

In [159]:
import mysql.connector
from mysql.connector import errorcode

Conectarse a la bbdd

In [160]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
host='127.0.0.1',
database='musicstream', 
auth_plugin ='mysql_native_password')

In [161]:
mycursor = cnx.cursor()

Añadir a la bbdd las zonas

In [162]:
query = "INSERT INTO zonas(nombre_zona) VALUES(%s)"
val = [[('mediterraneo')], [('norte')], [('centro')], [('este')]]
mycursor.executemany(query, val)
cnx.commit()

In [139]:
paises_mediterraneos = {
    "ES": "España",
    "FR": "Francia",
    "MC": "Mónaco",
    "IT": "Italia",
    "SI": "Eslovenia",
    "HR": "Croacia",
    "BA": "Bosnia y Herzegovina",
    "ME": "Montenegro",
    "AL": "Albania",
    "GR": "Grecia",
    "MT": "Malta",
    "CY": "Chipre"}
paises_este_europa = {
    "BY": "Bielorrusia",
    "BG": "Bulgaria",
    "CZ": "Chequia",
    "SK": "Eslovaquia",
    "HU": "Hungría",
    "MD": "Moldavia",
    "PL": "Polonia",
    "RO": "Rumanía",
    "UA": "Ucrania"}
paises_norte_europa = {
    "DK": "Dinamarca",
    "EE": "Estonia",
    "FI": "Finlandia",
    "IS": "Islandia",
    "IE": "Irlanda",
    "LT": "Lituania",
    "LV": "Letonia",
    "NO": "Noruega",
    "SE": "Suecia",
    "GB": "Reino Unido"}
paises_europa_central = {
    "AT": "Austria",
    "DE": "Alemania",
    "CH": "Suiza",
    "LI": "Liechtenstein",
    "BE": "Bélgica",
    "LU": "Luxemburgo",
    "NL": "Países Bajos"}

In [ ]:
# ID_ZONA: 1 mediterraneo, 2	norte, 3 centro, 4 este

In [163]:
def añadir_pais(diccionario, id_zona):
    for id, pais in diccionario.items():
        query = "INSERT INTO paises(id_pais, nombre_pais, id_zona) VALUES(%s, %s, %s)"
        val = [(id, pais, id_zona)] 
        mycursor.executemany(query, val)
        cnx.commit()

In [ ]:
añadir_pais(paises_este_europa, 4)
#esto hacerlo  para cada diccionario

Añadir rango años

In [165]:
query_años = "INSERT INTO años(rango_años) VALUES(%s)"
val_años = [[('2000-2004')], [('2005-2009')], [('2010-2014')], [('2015-2019')], [('2020-2024')]]
mycursor.executemany(query_años, val_años)
cnx.commit()

Añadir artistas

Convertir csv en df y Añadir datos de los df a la bbdd

In [180]:
def convertir_csv(zona, años):
    df = pd.read_csv(f'archivos_csv/paises_{zona}_{años}.csv',index_col = 0)
    return df

In [181]:
df_este_00_04 = convertir_csv('este_europa', '2000_2004')

In [ ]:
# crear una lista por zona y año
lt_art_med = []

In [168]:
for i in df_mediterraneos.itertuples(name=None, index=False):
    lt_art_med.append(([i[2]]))

In [169]:
query_artistas = "INSERT INTO artistas(nombre_artista) VALUES(%s)"
for art in lt_art_med:
    try:
     mycursor.execute(query_artistas, art)
     cnx.commit()
    except:
      continue
cnx.close()