In [1]:
import json
import pandas as pd

In [2]:
import mysql.connector
from mysql.connector import errorcode

Conectarse a la bbdd

In [8]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
host='127.0.0.1',
database='musicstream', 
auth_plugin ='mysql_native_password')

In [9]:
mycursor = cnx.cursor()

Añadir a la bbdd las zonas

In [162]:
query = "INSERT INTO zonas(nombre_zona) VALUES(%s)"
val = [[('mediterraneo')], [('norte')], [('centro')], [('este')]]
mycursor.executemany(query, val)
cnx.commit()

In [6]:
paises_mediterraneos = {
    "ES": "España",
    "FR": "Francia",
    "MC": "Mónaco",
    "IT": "Italia",
    "SI": "Eslovenia",
    "HR": "Croacia",
    "BA": "Bosnia y Herzegovina",
    "ME": "Montenegro",
    "AL": "Albania",
    "GR": "Grecia",
    "MT": "Malta",
    "CY": "Chipre"}
paises_este_europa = {
    "BY": "Bielorrusia",
    "BG": "Bulgaria",
    "CZ": "Chequia",
    "SK": "Eslovaquia",
    "HU": "Hungría",
    "MD": "Moldavia",
    "PL": "Polonia",
    "RO": "Rumanía",
    "UA": "Ucrania"}
paises_norte_europa = {
    "DK": "Dinamarca",
    "EE": "Estonia",
    "FI": "Finlandia",
    "IS": "Islandia",
    "IE": "Irlanda",
    "LT": "Lituania",
    "LV": "Letonia",
    "NO": "Noruega",
    "SE": "Suecia",
    "GB": "Reino Unido"}
paises_europa_central = {
    "AT": "Austria",
    "DE": "Alemania",
    "CH": "Suiza",
    "LI": "Liechtenstein",
    "BE": "Bélgica",
    "LU": "Luxemburgo",
    "NL": "Países Bajos"}

In [ ]:
# ID_ZONA: 1 mediterraneo, 2	norte, 3 centro, 4 este

In [4]:
def añadir_pais(diccionario, id_zona):
    for id, pais in diccionario.items():
        query = "INSERT INTO paises(id_pais, nombre_pais, id_zona) VALUES(%s, %s, %s)"
        val = [(id, pais, id_zona)] 
        mycursor.executemany(query, val)
        cnx.commit()

In [ ]:
añadir_pais(paises_este_europa, 4)
#esto hacerlo  para cada diccionario
#

In [13]:
añadir_pais(paises_mediterraneos,1)

Añadir rango años

In [165]:
query_años = "INSERT INTO años(rango_años) VALUES(%s)"
val_años = [[('2000-2004')], [('2005-2009')], [('2010-2014')], [('2015-2019')], [('2020-2024')]]
mycursor.executemany(query_años, val_años)
cnx.commit()

Añadir artistas

Convertir csv en df y Añadir datos de los df a la bbdd

In [14]:
def convertir_csv(zona, años):
    df = pd.read_csv(f'archivos_csv/paises_{zona}_{años}.csv',index_col = 0)
    return df

In [15]:
df_este_00_04 = convertir_csv('este_europa', '2000_2004')

In [16]:
df_este_00_04

,nombre,popularity,artista,pais,genero
id,,,,,
0,Сукины дети,52,1.Kla$,BY,NaN
1,Angel,28,"Shaggy, Rayvon",BY,NaN
2,Sonne,73,Rammstein,BY,industrial metal
3,Cabelo Raspadinho,2,Chiclete Com Banana,BY,brasil
4,Without Me,83,Eminem,BY,rap
...,...,...,...,...,...
445,The Way I Am,0,Eminem,UA,rap
446,Seven Nation Army,78,The White Stripes,UA,rock
447,"Rama Hare - From ""Soothradharan""",0,"Raveendran, Edappal Viswan, Gayathri Ashokan",UA,NaN
448,Bitches,67,Mindless Self Indulgence,UA,industrial
449,Oceano - Ao Vivo,0,Djavan,UA,NaN

In [17]:
# crear una lista por zona y año
lt_art_med = []

In [18]:
for i in df_este_00_04.itertuples(name=None, index=False):
    lt_art_med.append(([i[2]]))

In [169]:
query_artistas = "INSERT INTO artistas(nombre_artista) VALUES(%s)"
for art in lt_art_med:
    try:
     mycursor.execute(query_artistas, art)
     cnx.commit()
    except:
      continue
cnx.close()

Insertar en tabla canciones

In [32]:
c_g_p = {'cancion': [], 'genero': [], 'popularidad': [], 'id_pais': []}

In [33]:
for i in df_este_00_04.itertuples(name=None, index=False):
    c_g_p['cancion'].append(([i[0]]))
    c_g_p['genero'].append(([i[4]]))
    c_g_p['popularidad'].append(([i[1]]))
    c_g_p['id_pais'].append(([i[3]]))

In [ ]:
query_canciones = "INSERT INTO canciones(cancion, genero, popularidad, id_lustro, id_pais) VALUES(%s, %s, %s, %s, %s)"

In [ ]:
def añadir_canciones(diccionario, id_lustro):
    for i in diccionario.values():
        query = "INSERT INTO paises(id_pais, nombre_pais, id_lustro, id_pais) VALUES(%s, %s, %s)"
        val = [(['cancion'][i]], ['genero'][i], ['popularidad'][i], id_lustro, ['id_pais'][i])]
        mycursor.executemany(query, val)
        cnx.commit()