# üõú Set-up para la conexi√≥n entre mysql y python üõú

In [29]:
import json
import pandas as pd
import mysql.connector
from mysql.connector import errorcode

1. Nos conectamos a la base de datos (script de creaci√≥n en _schema_bbdd.sql_)

In [30]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
host='127.0.0.1',
database='musicstream', 
auth_plugin ='mysql_native_password')

2. Creamos el cursor

In [31]:
mycursor = cnx.cursor()

# üèóÔ∏è A√±adiendo datos desde los ficheros .csv üèóÔ∏è

### A√±adimos los datos a la tabla zonas

In [32]:
query = "INSERT INTO zonas(nombre_zona) VALUES(%s)"
val = [[('mediterraneo')], [('norte')], [('centro')], [('este')]]
mycursor.executemany(query, val)
cnx.commit()

### A√±adimos los datos a la tabla pa√≠ses

1. Definimos los diccionarios con los paises para cada zona

In [33]:
paises_mediterraneos = {
    "ES": "Espa√±a",
    "FR": "Francia",
    "MC": "M√≥naco",
    "IT": "Italia",
    "SI": "Eslovenia",
    "HR": "Croacia",
    "BA": "Bosnia y Herzegovina",
    "ME": "Montenegro",
    "AL": "Albania",
    "GR": "Grecia",
    "MT": "Malta",
    "CY": "Chipre"}
paises_este_europa = {
    "BY": "Bielorrusia",
    "BG": "Bulgaria",
    "CZ": "Chequia",
    "SK": "Eslovaquia",
    "HU": "Hungr√≠a",
    "MD": "Moldavia",
    "PL": "Polonia",
    "RO": "Ruman√≠a",
    "UA": "Ucrania"}
paises_norte_europa = {
    "DK": "Dinamarca",
    "EE": "Estonia",
    "FI": "Finlandia",
    "IS": "Islandia",
    "IE": "Irlanda",
    "LT": "Lituania",
    "LV": "Letonia",
    "NO": "Noruega",
    "SE": "Suecia",
    "GB": "Reino Unido"}
paises_europa_central = {
    "AT": "Austria",
    "DE": "Alemania",
    "CH": "Suiza",
    "LI": "Liechtenstein",
    "BE": "B√©lgica",
    "LU": "Luxemburgo",
    "NL": "Pa√≠ses Bajos"}

2. Definimos la funci√≥n `a√±adir_pais`

In [34]:
def a√±adir_pais(diccionario, id_zona):
    ''' A√±ade datos a la tabla de paises.

        Args: 
            diccionario (dict): Un diccionario de los definidos para cada zona donde se recogen los pa√≠ses y sus c√≥digos.
            id_zona (int): N√∫mero asignado a cada zona de europa en la tabla zonas. 

    '''
    for id, pais in diccionario.items():
        query = "INSERT INTO paises(id_pais, nombre_pais, id_zona) VALUES(%s, %s, %s)"
        val = [(id, pais, id_zona)] 
        mycursor.executemany(query, val)
        cnx.commit()

Los id_zona quedan entonces como: 
- 1 mediterraneo
- 2 norte
- 3 centro 
- 4 este

3. Llamamos a la funci√≥n en bucle para a√±adir los pa√≠ses de cada zona de una sola vez.

In [35]:
# Definimos estas dos listas, que nos van a servir para poder llamar en bucle a la funci√≥n. Es MUY IMPORTANTE el orden, debe coincidir el nombre del diccionario con el id_zona asignado a cada zona.
lista_diccionarios = [paises_mediterraneos, paises_norte_europa, paises_europa_central, paises_este_europa]
lista_zonas = [i for i in range(1,5)]

In [36]:
for i in range(len(lista_diccionarios)):
    a√±adir_pais(lista_diccionarios[i], lista_zonas[i])

### A√±adimos los datos a la tabla a√±os

In [37]:
query_a√±os = "INSERT INTO a√±os(rango_a√±os) VALUES(%s)"
val_a√±os = [[('2000-2004')], [('2005-2009')], [('2010-2014')], [('2015-2019')], [('2020-2024')]]
mycursor.executemany(query_a√±os, val_a√±os)
cnx.commit()

### A√±adimos los datos a la tabla artistas

1. Definimos la funci√≥n `convertir_csv`, que convierte cada uno de los csv que hemos creado en un DataFrame.

In [38]:
def convertir_csv(zona, a√±os):
    ''' Convierte el csv de cada zona y rango de a√±os en un DataFrame.
    
        Args:
            zona (str): Nombre de la zona.
            a√±os (str): Rango de a√±os en la forma a√±oinicio_a√±ofin. 
    '''
    df = pd.read_csv(f'archivos_csv/paises_{zona}_{a√±os}.csv',index_col = 0)
    return df

2. Llamamos a la funci√≥n una vez por cada csv que debemos convertir.

In [39]:
# Definimos estas dos listas, que nos van a servir para poder llamar a la funci√≥n.
lista_nombre_zona = ["este_europa", "europa_central", "mediterraneos", "norte_europa"]
lista_a√±os = ["2000_2004", "2005_2009", "2010_2014", "2015_2019", "2020_2024"]

In [40]:
# Pa√≠ses del este
df_este_2000_2004 = convertir_csv(lista_nombre_zona[0], lista_a√±os[0])
df_este_2005_2009 = convertir_csv(lista_nombre_zona[0], lista_a√±os[1])
df_este_2010_2014 = convertir_csv(lista_nombre_zona[0], lista_a√±os[2])
df_este_2015_2019 = convertir_csv(lista_nombre_zona[0], lista_a√±os[3])
df_este_2020_2024 = convertir_csv(lista_nombre_zona[0], lista_a√±os[4])

In [41]:
# Pa√≠ses del centro
df_centro_2000_2004 = convertir_csv(lista_nombre_zona[1], lista_a√±os[0])
df_centro_2005_2009 = convertir_csv(lista_nombre_zona[1], lista_a√±os[1])
df_centro_2010_2014 = convertir_csv(lista_nombre_zona[1], lista_a√±os[2])
df_centro_2015_2019 = convertir_csv(lista_nombre_zona[1], lista_a√±os[3])
df_centro_2020_2024 = convertir_csv(lista_nombre_zona[1], lista_a√±os[4])

In [42]:
# Pa√≠ses mediterr√°neos
df_medit_2000_2004 = convertir_csv(lista_nombre_zona[2], lista_a√±os[0])
df_medit_2005_2009 = convertir_csv(lista_nombre_zona[2], lista_a√±os[1])
df_medit_2010_2014 = convertir_csv(lista_nombre_zona[2], lista_a√±os[2])
df_medit_2015_2019 = convertir_csv(lista_nombre_zona[2], lista_a√±os[3])
df_medit_2020_2024 = convertir_csv(lista_nombre_zona[2], lista_a√±os[4])

In [43]:
# Pa√≠ses del norte
df_norte_2000_2004 = convertir_csv(lista_nombre_zona[3], lista_a√±os[0])
df_norte_2005_2009 = convertir_csv(lista_nombre_zona[3], lista_a√±os[1])
df_norte_2010_2014 = convertir_csv(lista_nombre_zona[3], lista_a√±os[2])
df_norte_2015_2019 = convertir_csv(lista_nombre_zona[3], lista_a√±os[3])
df_norte_2020_2024 = convertir_csv(lista_nombre_zona[3], lista_a√±os[4])

In [44]:
lista_df_csv = [df_este_2000_2004, df_este_2005_2009, df_este_2010_2014, df_este_2015_2019, df_este_2020_2024, df_centro_2000_2004, df_centro_2005_2009, df_centro_2010_2014,
                df_centro_2015_2019, df_centro_2020_2024, df_medit_2000_2004, df_medit_2005_2009, df_medit_2010_2014, df_medit_2015_2019, df_medit_2020_2024,df_norte_2000_2004,
                df_norte_2005_2009, df_norte_2010_2014, df_norte_2015_2019, df_norte_2020_2024]

In [ ]:
# lista_df_ordenados = []
# for l in lista_df_csv:
    var = l.sort_values(['popularity'], axis=0, ascending=False, ignore_index=True)[0:50]
    lista_df_ordenados.append(var)

3. Creamos una lista de artistas vac√≠a y luego un DataFrame con todos los artistas por zona.

In [45]:
artistas = []
df_mediterraneo = pd.concat(
    [df_medit_2000_2004['artista'], df_medit_2005_2009['artista'], df_medit_2010_2014['artista'], df_medit_2015_2019['artista'], df_medit_2020_2024['artista']],
    axis=1,
    keys=["00-04", "05-09", "10-14", "15-19", "20-24"])
df_este = pd.concat(
    [df_este_2000_2004['artista'], df_este_2005_2009['artista'], df_este_2010_2014['artista'], df_este_2015_2019['artista'], df_este_2020_2024['artista']],
    axis=1,
    keys=["00-04", "05-09", "10-14", "15-19", "20-24"])
df_centro = pd.concat(
    [df_centro_2000_2004['artista'], df_centro_2005_2009['artista'], df_centro_2010_2014['artista'], df_centro_2015_2019['artista'], df_centro_2020_2024['artista']],
    axis=1,
    keys=["00-04", "05-09", "10-14", "15-19", "20-24"])
df_norte = pd.concat(
    [df_norte_2000_2004['artista'], df_norte_2005_2009['artista'], df_norte_2010_2014['artista'], df_norte_2015_2019['artista'], df_norte_2020_2024['artista']],
    axis=1,
    keys=["00-04", "05-09", "10-14", "15-19", "20-24"])

In [46]:
# Esta lista es para poder meter los datos de los df en bucle.
lista_df = [df_mediterraneo, df_este, df_centro, df_norte]

4. Con el siguiente bucle, convertimos cada artista en una lista y lo a√±adimos a la lista artistas.

In [47]:
for df in lista_df:
    for i in df.itertuples(name=None, index=False):
        for n in range(4):
            if ([i[n]]) not in artistas:
                artistas.append(([i[n]]))

In [48]:
len(artistas)

981

5. Ejecutamos la inserci√≥n

In [49]:
query_artistas = "INSERT INTO artistas(nombre_artista) VALUES(%s)"
for artista in artistas:
    try:
     mycursor.execute(query_artistas, artista)
     cnx.commit()
    except:
      continue
cnx.close()

### A√±adimos los datos a la tabla canciones

Recordemos los id_lustro para cada conjunto de 5 a√±os: 
- 1 = 2000-2004
- 2 = 2005-2009
- 3 = 2010-2014
- 4 = 2015-2019
- 5 = 2020-2024

Volvemos a abrir la conexi√≥n y a definir el cursor

In [50]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1',
                                    database='musicstream', 
                                    auth_plugin ='mysql_native_password')
mycursor = cnx.cursor()

Hay algunos datos que son `NaN`, y MySQL no los reconoce, por lo que hay que convertirlos a None. 

Para ello, creamos la funci√≥n `eliminar_nan`

In [51]:
def eliminar_nan (df):
    df_limpio = df.replace({float('NaN'): None})
    return df_limpio

Limpiamos los df y lo metemos en la lista `lista_df_limpios`

## Aqui he cambiado lo de df_ordenados por lista_df_csv

In [52]:
lista_df_limpios = []

for data in lista_df_csv:
    df_limpio = eliminar_nan(data)
    lista_df_limpios.append(df_limpio)

Definimos una funci√≥n para insertar las canciones

In [56]:
def insertar_canciones (df):
    lista_querys = []
    for i in range(len(df)):
        tupla_insercion = (str(df['nombre'][i]), str(df['genero'][i]), int(df['popularity'][i]))
        lista_querys.append(tupla_insercion)
    return lista_querys

Creamos la lista de tuplas para insertar, descartando aquellas canciones que coinciden en todos los campos.

In [57]:
lista_de_tuplas = []

for df in lista_df_limpios:    
    tuplas = insertar_canciones(df)
    for t in tuplas:
        if t not in lista_de_tuplas:
            lista_de_tuplas.append(t)

Definimos la query canciones:

In [58]:
query_canciones = "INSERT INTO canciones(cancion, genero, popularidad) VALUES(%s, %s, %s)"

In [59]:
mycursor.executemany(query_canciones, lista_de_tuplas)
cnx.commit()

In [60]:
cnx.close()

### A√±adimos los datos a las tablas intermedias

Primero, pais en cancion:

In [61]:
contador = 0
queries_pais_cancion = []
for t in lista_de_tuplas:
    contador += 1
    for df in lista_df_limpios:
        for i in range(len(df)):
            if df['nombre'][i] in t:
                tupla_pais_cancion = (df['pais'][i], contador)
                queries_pais_cancion.append(tupla_pais_cancion)

In [62]:
query_pais_en_cancion = "INSERT INTO pais_en_cancion(id_pais, id_cancion) VALUES(%s, %s)"

In [68]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1',
                                    database='musicstream', 
                                    auth_plugin ='mysql_native_password')
mycursor = cnx.cursor()

In [64]:
for q in queries_pais_cancion:
    try:
        mycursor.execute(query_pais_en_cancion, q)
        cnx.commit()
    except:
        print(f"La entrada {q} est√° repetida")

La entrada ('SE', 219) est√° repetida
La entrada ('CZ', 222) est√° repetida
La entrada ('DE', 222) est√° repetida
La entrada ('CH', 222) est√° repetida
La entrada ('BY', 659) est√° repetida
La entrada ('BY', 659) est√° repetida
La entrada ('BY', 659) est√° repetida
La entrada ('RO', 659) est√° repetida
La entrada ('RO', 659) est√° repetida
La entrada ('RO', 659) est√° repetida
La entrada ('BY', 661) est√° repetida
La entrada ('BY', 661) est√° repetida
La entrada ('BY', 661) est√° repetida
La entrada ('RO', 661) est√° repetida
La entrada ('RO', 661) est√° repetida
La entrada ('RO', 661) est√° repetida
La entrada ('BY', 667) est√° repetida
La entrada ('BY', 667) est√° repetida
La entrada ('BY', 672) est√° repetida
La entrada ('BY', 672) est√° repetida
La entrada ('BY', 674) est√° repetida
La entrada ('BY', 674) est√° repetida
La entrada ('BY', 692) est√° repetida
La entrada ('BY', 699) est√° repetida
La entrada ('MT', 712) est√° repetida
La entrada ('AT', 749) est√° repetida
La entrada ('CH', 749) est√° repetida
La entrada ('LI', 749) est√° repetida
La entrada ('LU', 749) est√° repetida
La entrada ('MC', 749) est√° repetida
La entrada ('BA', 749) est√° repetida
La entrada ('ME', 749) est√° repetida
La entrada ('AL', 749) est√° repetida
La entrada ('MT', 749) est√° repetida
La entrada ('NO', 749) est√° repetida
La entrada ('PL', 842) est√° repetida
La entrada ('PL', 851) est√° repetida
La entrada ('BE', 855) est√° repetida
La entrada ('MT', 855) est√° repetida
La entrada ('IE', 855) est√° repetida
La entrada ('NO', 855) est√° repetida
La entrada ('GB', 855) est√° repetida
La entrada ('SE', 939) est√° repetida
La entrada ('NL', 981) est√° repetida
La entrada ('NL', 1037) est√° repetida
La entrada ('AT', 1124) est√° repetida
La entrada ('DE', 1124) est√° repetida
La entrada ('AT', 1137) est√° repetida
La entrada ('CH', 1137) est√° repetida
La entrada ('LI', 1137) est√° repetida
La entrada ('LU', 1137) est√° repetida
La entrada ('MC', 1137) est√° repetida
La entrada ('BA', 1137) est√° repetida
La entrada ('ME', 1137) est√° repetida
La entrada ('AL', 1137) est√° repetida
La entrada ('MT', 1137) est√° repetida
La entrada ('NO', 1137) est√° repetida
La entrada ('LI', 1158) est√° repetida
La entrada ('MC', 1158) est√° repetida
La entrada ('BA', 1158) est√° repetida
La entrada ('ME', 1158) est√° repetida
La entrada ('AL', 1158) est√° repetida
La entrada ('LI', 1159) est√° repetida
La entrada ('MC', 1159) est√° repetida
La entrada ('BA', 1159) est√° repetida
La entrada ('ME', 1159) est√° repetida
La entrada ('AL', 1159) est√° repetida
La entrada ('BE', 1172) est√° repetida
La entrada ('FR', 1172) est√° repetida
La entrada ('BE', 1178) est√° repetida
La entrada ('MT', 1178) est√° repetida
La entrada ('IE', 1178) est√° repetida
La entrada ('NO', 1178) est√° repetida
La entrada ('GB', 1178) est√° repetida
La entrada ('BE', 1179) est√° repetida
La entrada ('FR', 1179) est√° repetida
La entrada ('HR', 1253) est√° repetida
La entrada ('HR', 1332) est√° repetida
La entrada ('MT', 1577) est√° repetida
La entrada ('ES', 1584) est√° repetida
La entrada ('ES', 1585) est√° repetida
La entrada ('FR', 1613) est√° repetida
La entrada ('FR', 1620) est√° repetida
La entrada ('IS', 1781) est√° repetida
La entrada ('IS', 1787) est√° repetida
La entrada ('SE', 1788) est√° repetida
La entrada ('IS', 1855) est√° repetida
La entrada ('IS', 1865) est√° repetida
La entrada ('SE', 1895) est√° repetida
La entrada ('SE', 1991) est√° repetida
La entrada ('SE', 1991) est√° repetida
La entrada ('SE', 2131) est√° repetida
La entrada ('SE', 2132) est√° repetida
La entrada ('SE', 2132) est√° repetida

In [65]:
cnx.close()

Ahora, lo mismo con artista en cancion:

In [70]:
queries_artista_cancion = []
for t in lista_de_tuplas:
    for df in lista_df_limpios:
        for i in range(len(df)):
            if df['nombre'][i] in t:
                q_id_artista = f"SELECT id_artista FROM artistas WHERE nombre_artista = '{df['artista'][i]}';"
                q_id_cancion = f"SELECT id_cancion FROM canciones WHERE cancion = '{df['nombre'][i]}';"
                
            mycursor.execute(q_id_artista)
            id_artista = mycursor.fetchone()[0]
            mycursor.execute(q_id_cancion)
            id_cancion = mycursor.fetchone()[0]
            query = (id_artista, id_cancion)
            queries_artista_cancion.append(query)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's Cut'' at line 1

In [71]:
queries_artista_cancion

[(464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 ...]

In [72]:
info_artistas = f"SELECT id_artista FROM artistas WHERE nombre_artista = '{lista_df_limpios[0]['artista'][0]}';"

In [73]:
info_canciones = f"SELECT id_artista FROM artistas WHERE cancion = '{lista_df_limpios[0]['nombre'][0]}' AND id_lustro;"

In [74]:
mycursor.execute(info_canciones)
x = mycursor.fetchone()

ProgrammingError: 1054 (42S22): Unknown column 'cancion' in 'where clause'

In [128]:
x

20

Por √∫ltimo ,metemos lustro en cancion: