# ðŸ›œ Set-up para la conexiÃ³n entre mysql y python ðŸ›œ

In [29]:
import json
import pandas as pd
import mysql.connector
from mysql.connector import errorcode

1. Nos conectamos a la base de datos (script de creaciÃ³n en _schema_bbdd.sql_)

In [30]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
host='127.0.0.1',
database='musicstream', 
auth_plugin ='mysql_native_password')

2. Creamos el cursor

In [31]:
mycursor = cnx.cursor()

# ðŸ—ï¸ AÃ±adiendo datos desde los ficheros .csv ðŸ—ï¸

### AÃ±adimos los datos a la tabla zonas

In [32]:
query = "INSERT INTO zonas(nombre_zona) VALUES(%s)"
val = [[('mediterraneo')], [('norte')], [('centro')], [('este')]]
mycursor.executemany(query, val)
cnx.commit()

### AÃ±adimos los datos a la tabla paÃ­ses

1. Definimos los diccionarios con los paises para cada zona

In [33]:
paises_mediterraneos = {
    "ES": "EspaÃ±a",
    "FR": "Francia",
    "MC": "MÃ³naco",
    "IT": "Italia",
    "SI": "Eslovenia",
    "HR": "Croacia",
    "BA": "Bosnia y Herzegovina",
    "ME": "Montenegro",
    "AL": "Albania",
    "GR": "Grecia",
    "MT": "Malta",
    "CY": "Chipre"}
paises_este_europa = {
    "BY": "Bielorrusia",
    "BG": "Bulgaria",
    "CZ": "Chequia",
    "SK": "Eslovaquia",
    "HU": "HungrÃ­a",
    "MD": "Moldavia",
    "PL": "Polonia",
    "RO": "RumanÃ­a",
    "UA": "Ucrania"}
paises_norte_europa = {
    "DK": "Dinamarca",
    "EE": "Estonia",
    "FI": "Finlandia",
    "IS": "Islandia",
    "IE": "Irlanda",
    "LT": "Lituania",
    "LV": "Letonia",
    "NO": "Noruega",
    "SE": "Suecia",
    "GB": "Reino Unido"}
paises_europa_central = {
    "AT": "Austria",
    "DE": "Alemania",
    "CH": "Suiza",
    "LI": "Liechtenstein",
    "BE": "BÃ©lgica",
    "LU": "Luxemburgo",
    "NL": "PaÃ­ses Bajos"}

2. Definimos la funciÃ³n `aÃ±adir_pais`

In [34]:
def aÃ±adir_pais(diccionario, id_zona):
    ''' AÃ±ade datos a la tabla de paises.

        Args: 
            diccionario (dict): Un diccionario de los definidos para cada zona donde se recogen los paÃ­ses y sus cÃ³digos.
            id_zona (int): NÃºmero asignado a cada zona de europa en la tabla zonas. 

    '''
    for id, pais in diccionario.items():
        query = "INSERT INTO paises(id_pais, nombre_pais, id_zona) VALUES(%s, %s, %s)"
        val = [(id, pais, id_zona)] 
        mycursor.executemany(query, val)
        cnx.commit()

Los id_zona quedan entonces como: 
- 1 mediterraneo
- 2 norte
- 3 centro 
- 4 este

3. Llamamos a la funciÃ³n en bucle para aÃ±adir los paÃ­ses de cada zona de una sola vez.

In [35]:
# Definimos estas dos listas, que nos van a servir para poder llamar en bucle a la funciÃ³n. Es MUY IMPORTANTE el orden, debe coincidir el nombre del diccionario con el id_zona asignado a cada zona.
lista_diccionarios = [paises_mediterraneos, paises_norte_europa, paises_europa_central, paises_este_europa]
lista_zonas = [i for i in range(1,5)]

In [36]:
for i in range(len(lista_diccionarios)):
    aÃ±adir_pais(lista_diccionarios[i], lista_zonas[i])

### AÃ±adimos los datos a la tabla aÃ±os

In [37]:
query_aÃ±os = "INSERT INTO aÃ±os(rango_aÃ±os) VALUES(%s)"
val_aÃ±os = [[('2000-2004')], [('2005-2009')], [('2010-2014')], [('2015-2019')], [('2020-2024')]]
mycursor.executemany(query_aÃ±os, val_aÃ±os)
cnx.commit()

### AÃ±adimos los datos a la tabla artistas

1. Definimos la funciÃ³n `convertir_csv`, que convierte cada uno de los csv que hemos creado en un DataFrame.

In [38]:
def convertir_csv(zona, aÃ±os):
    ''' Convierte el csv de cada zona y rango de aÃ±os en un DataFrame.
    
        Args:
            zona (str): Nombre de la zona.
            aÃ±os (str): Rango de aÃ±os en la forma aÃ±oinicio_aÃ±ofin. 
    '''
    df = pd.read_csv(f'archivos_csv/paises_{zona}_{aÃ±os}.csv',index_col = 0)
    return df

2. Llamamos a la funciÃ³n una vez por cada csv que debemos convertir.

In [39]:
# Definimos estas dos listas, que nos van a servir para poder llamar a la funciÃ³n.
lista_nombre_zona = ["este_europa", "europa_central", "mediterraneos", "norte_europa"]
lista_aÃ±os = ["2000_2004", "2005_2009", "2010_2014", "2015_2019", "2020_2024"]

In [40]:
# PaÃ­ses del este
df_este_2000_2004 = convertir_csv(lista_nombre_zona[0], lista_aÃ±os[0])
df_este_2005_2009 = convertir_csv(lista_nombre_zona[0], lista_aÃ±os[1])
df_este_2010_2014 = convertir_csv(lista_nombre_zona[0], lista_aÃ±os[2])
df_este_2015_2019 = convertir_csv(lista_nombre_zona[0], lista_aÃ±os[3])
df_este_2020_2024 = convertir_csv(lista_nombre_zona[0], lista_aÃ±os[4])

In [41]:
# PaÃ­ses del centro
df_centro_2000_2004 = convertir_csv(lista_nombre_zona[1], lista_aÃ±os[0])
df_centro_2005_2009 = convertir_csv(lista_nombre_zona[1], lista_aÃ±os[1])
df_centro_2010_2014 = convertir_csv(lista_nombre_zona[1], lista_aÃ±os[2])
df_centro_2015_2019 = convertir_csv(lista_nombre_zona[1], lista_aÃ±os[3])
df_centro_2020_2024 = convertir_csv(lista_nombre_zona[1], lista_aÃ±os[4])

In [42]:
# PaÃ­ses mediterrÃ¡neos
df_medit_2000_2004 = convertir_csv(lista_nombre_zona[2], lista_aÃ±os[0])
df_medit_2005_2009 = convertir_csv(lista_nombre_zona[2], lista_aÃ±os[1])
df_medit_2010_2014 = convertir_csv(lista_nombre_zona[2], lista_aÃ±os[2])
df_medit_2015_2019 = convertir_csv(lista_nombre_zona[2], lista_aÃ±os[3])
df_medit_2020_2024 = convertir_csv(lista_nombre_zona[2], lista_aÃ±os[4])

In [43]:
# PaÃ­ses del norte
df_norte_2000_2004 = convertir_csv(lista_nombre_zona[3], lista_aÃ±os[0])
df_norte_2005_2009 = convertir_csv(lista_nombre_zona[3], lista_aÃ±os[1])
df_norte_2010_2014 = convertir_csv(lista_nombre_zona[3], lista_aÃ±os[2])
df_norte_2015_2019 = convertir_csv(lista_nombre_zona[3], lista_aÃ±os[3])
df_norte_2020_2024 = convertir_csv(lista_nombre_zona[3], lista_aÃ±os[4])

In [44]:
lista_df_csv = [df_este_2000_2004, df_este_2005_2009, df_este_2010_2014, df_este_2015_2019, df_este_2020_2024, df_centro_2000_2004, df_centro_2005_2009, df_centro_2010_2014,
                df_centro_2015_2019, df_centro_2020_2024, df_medit_2000_2004, df_medit_2005_2009, df_medit_2010_2014, df_medit_2015_2019, df_medit_2020_2024,df_norte_2000_2004,
                df_norte_2005_2009, df_norte_2010_2014, df_norte_2015_2019, df_norte_2020_2024]

In [ ]:
# lista_df_ordenados = []
# for l in lista_df_csv:
    var = l.sort_values(['popularity'], axis=0, ascending=False, ignore_index=True)[0:50]
    lista_df_ordenados.append(var)

3. Creamos una lista de artistas vacÃ­a y luego un DataFrame con todos los artistas por zona.

In [45]:
artistas = []
df_mediterraneo = pd.concat(
    [df_medit_2000_2004['artista'], df_medit_2005_2009['artista'], df_medit_2010_2014['artista'], df_medit_2015_2019['artista'], df_medit_2020_2024['artista']],
    axis=1,
    keys=["00-04", "05-09", "10-14", "15-19", "20-24"])
df_este = pd.concat(
    [df_este_2000_2004['artista'], df_este_2005_2009['artista'], df_este_2010_2014['artista'], df_este_2015_2019['artista'], df_este_2020_2024['artista']],
    axis=1,
    keys=["00-04", "05-09", "10-14", "15-19", "20-24"])
df_centro = pd.concat(
    [df_centro_2000_2004['artista'], df_centro_2005_2009['artista'], df_centro_2010_2014['artista'], df_centro_2015_2019['artista'], df_centro_2020_2024['artista']],
    axis=1,
    keys=["00-04", "05-09", "10-14", "15-19", "20-24"])
df_norte = pd.concat(
    [df_norte_2000_2004['artista'], df_norte_2005_2009['artista'], df_norte_2010_2014['artista'], df_norte_2015_2019['artista'], df_norte_2020_2024['artista']],
    axis=1,
    keys=["00-04", "05-09", "10-14", "15-19", "20-24"])

In [46]:
# Esta lista es para poder meter los datos de los df en bucle.
lista_df = [df_mediterraneo, df_este, df_centro, df_norte]

4. Con el siguiente bucle, convertimos cada artista en una lista y lo aÃ±adimos a la lista artistas.

In [47]:
for df in lista_df:
    for i in df.itertuples(name=None, index=False):
        for n in range(4):
            if ([i[n]]) not in artistas:
                artistas.append(([i[n]]))

In [48]:
len(artistas)

981

5. Ejecutamos la inserciÃ³n

In [49]:
query_artistas = "INSERT INTO artistas(nombre_artista) VALUES(%s)"
for artista in artistas:
    try:
     mycursor.execute(query_artistas, artista)
     cnx.commit()
    except:
      continue
cnx.close()

### AÃ±adimos los datos a la tabla canciones

Recordemos los id_lustro para cada conjunto de 5 aÃ±os: 
- 1 = 2000-2004
- 2 = 2005-2009
- 3 = 2010-2014
- 4 = 2015-2019
- 5 = 2020-2024

Volvemos a abrir la conexiÃ³n y a definir el cursor

In [50]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1',
                                    database='musicstream', 
                                    auth_plugin ='mysql_native_password')
mycursor = cnx.cursor()

Hay algunos datos que son `NaN`, y MySQL no los reconoce, por lo que hay que convertirlos a None. 

Para ello, creamos la funciÃ³n `eliminar_nan`

In [51]:
def eliminar_nan (df):
    df_limpio = df.replace({float('NaN'): None})
    return df_limpio

Limpiamos los df y lo metemos en la lista `lista_df_limpios`

## Aqui he cambiado lo de df_ordenados por lista_df_csv

In [52]:
lista_df_limpios = []

for data in lista_df_csv:
    df_limpio = eliminar_nan(data)
    lista_df_limpios.append(df_limpio)

Definimos una funciÃ³n para insertar las canciones

In [56]:
def insertar_canciones (df):
    lista_querys = []
    for i in range(len(df)):
        tupla_insercion = (str(df['nombre'][i]), str(df['genero'][i]), int(df['popularity'][i]))
        lista_querys.append(tupla_insercion)
    return lista_querys

Creamos la lista de tuplas para insertar, descartando aquellas canciones que coinciden en todos los campos.

In [57]:
lista_de_tuplas = []

for df in lista_df_limpios:    
    tuplas = insertar_canciones(df)
    for t in tuplas:
        if t not in lista_de_tuplas:
            lista_de_tuplas.append(t)

Definimos la query canciones:

In [58]:
query_canciones = "INSERT INTO canciones(cancion, genero, popularidad) VALUES(%s, %s, %s)"

In [59]:
mycursor.executemany(query_canciones, lista_de_tuplas)
cnx.commit()

In [60]:
cnx.close()

### AÃ±adimos los datos a las tablas intermedias

Primero, pais en cancion:

In [61]:
contador = 0
queries_pais_cancion = []
for t in lista_de_tuplas:
    contador += 1
    for df in lista_df_limpios:
        for i in range(len(df)):
            if df['nombre'][i] in t:
                tupla_pais_cancion = (df['pais'][i], contador)
                queries_pais_cancion.append(tupla_pais_cancion)

In [62]:
query_pais_en_cancion = "INSERT INTO pais_en_cancion(id_pais, id_cancion) VALUES(%s, %s)"

In [68]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1',
                                    database='musicstream', 
                                    auth_plugin ='mysql_native_password')
mycursor = cnx.cursor()

In [64]:
for q in queries_pais_cancion:
    try:
        mycursor.execute(query_pais_en_cancion, q)
        cnx.commit()
    except:
        print(f"La entrada {q} estÃ¡ repetida")

La entrada ('SE', 219) estÃ¡ repetida
La entrada ('CZ', 222) estÃ¡ repetida
La entrada ('DE', 222) estÃ¡ repetida
La entrada ('CH', 222) estÃ¡ repetida
La entrada ('BY', 659) estÃ¡ repetida
La entrada ('BY', 659) estÃ¡ repetida
La entrada ('BY', 659) estÃ¡ repetida
La entrada ('RO', 659) estÃ¡ repetida
La entrada ('RO', 659) estÃ¡ repetida
La entrada ('RO', 659) estÃ¡ repetida
La entrada ('BY', 661) estÃ¡ repetida
La entrada ('BY', 661) estÃ¡ repetida
La entrada ('BY', 661) estÃ¡ repetida
La entrada ('RO', 661) estÃ¡ repetida
La entrada ('RO', 661) estÃ¡ repetida
La entrada ('RO', 661) estÃ¡ repetida
La entrada ('BY', 667) estÃ¡ repetida
La entrada ('BY', 667) estÃ¡ repetida
La entrada ('BY', 672) estÃ¡ repetida
La entrada ('BY', 672) estÃ¡ repetida
La entrada ('BY', 674) estÃ¡ repetida
La entrada ('BY', 674) estÃ¡ repetida
La entrada ('BY', 692) estÃ¡ repetida
La entrada ('BY', 699) estÃ¡ repetida
La entrada ('MT', 712) estÃ¡ repetida
La entrada ('AT', 749) estÃ¡ repetida
La entrada ('CH', 749) estÃ¡ repetida
La entrada ('LI', 749) estÃ¡ repetida
La entrada ('LU', 749) estÃ¡ repetida
La entrada ('MC', 749) estÃ¡ repetida
La entrada ('BA', 749) estÃ¡ repetida
La entrada ('ME', 749) estÃ¡ repetida
La entrada ('AL', 749) estÃ¡ repetida
La entrada ('MT', 749) estÃ¡ repetida
La entrada ('NO', 749) estÃ¡ repetida
La entrada ('PL', 842) estÃ¡ repetida
La entrada ('PL', 851) estÃ¡ repetida
La entrada ('BE', 855) estÃ¡ repetida
La entrada ('MT', 855) estÃ¡ repetida
La entrada ('IE', 855) estÃ¡ repetida
La entrada ('NO', 855) estÃ¡ repetida
La entrada ('GB', 855) estÃ¡ repetida
La entrada ('SE', 939) estÃ¡ repetida
La entrada ('NL', 981) estÃ¡ repetida
La entrada ('NL', 1037) estÃ¡ repetida
La entrada ('AT', 1124) estÃ¡ repetida
La entrada ('DE', 1124) estÃ¡ repetida
La entrada ('AT', 1137) estÃ¡ repetida
La entrada ('CH', 1137) estÃ¡ repetida
La entrada ('LI', 1137) estÃ¡ repetida
La entrada ('LU', 1137) estÃ¡ repetida
La entrada ('MC', 1137) estÃ¡ repetida
La entrada ('BA', 1137) estÃ¡ repetida
La entrada ('ME', 1137) estÃ¡ repetida
La entrada ('AL', 1137) estÃ¡ repetida
La entrada ('MT', 1137) estÃ¡ repetida
La entrada ('NO', 1137) estÃ¡ repetida
La entrada ('LI', 1158) estÃ¡ repetida
La entrada ('MC', 1158) estÃ¡ repetida
La entrada ('BA', 1158) estÃ¡ repetida
La entrada ('ME', 1158) estÃ¡ repetida
La entrada ('AL', 1158) estÃ¡ repetida
La entrada ('LI', 1159) estÃ¡ repetida
La entrada ('MC', 1159) estÃ¡ repetida
La entrada ('BA', 1159) estÃ¡ repetida
La entrada ('ME', 1159) estÃ¡ repetida
La entrada ('AL', 1159) estÃ¡ repetida
La entrada ('BE', 1172) estÃ¡ repetida
La entrada ('FR', 1172) estÃ¡ repetida
La entrada ('BE', 1178) estÃ¡ repetida
La entrada ('MT', 1178) estÃ¡ repetida
La entrada ('IE', 1178) estÃ¡ repetida
La entrada ('NO', 1178) estÃ¡ repetida
La entrada ('GB', 1178) estÃ¡ repetida
La entrada ('BE', 1179) estÃ¡ repetida
La entrada ('FR', 1179) estÃ¡ repetida
La entrada ('HR', 1253) estÃ¡ repetida
La entrada ('HR', 1332) estÃ¡ repetida
La entrada ('MT', 1577) estÃ¡ repetida
La entrada ('ES', 1584) estÃ¡ repetida
La entrada ('ES', 1585) estÃ¡ repetida
La entrada ('FR', 1613) estÃ¡ repetida
La entrada ('FR', 1620) estÃ¡ repetida
La entrada ('IS', 1781) estÃ¡ repetida
La entrada ('IS', 1787) estÃ¡ repetida
La entrada ('SE', 1788) estÃ¡ repetida
La entrada ('IS', 1855) estÃ¡ repetida
La entrada ('IS', 1865) estÃ¡ repetida
La entrada ('SE', 1895) estÃ¡ repetida
La entrada ('SE', 1991) estÃ¡ repetida
La entrada ('SE', 1991) estÃ¡ repetida
La entrada ('SE', 2131) estÃ¡ repetida
La entrada ('SE', 2132) estÃ¡ repetida
La entrada ('SE', 2132) estÃ¡ repetida

In [65]:
cnx.close()

Ahora, lo mismo con artista en cancion:

In [70]:
queries_artista_cancion = []
for t in lista_de_tuplas:
    for df in lista_df_limpios:
        for i in range(len(df)):
            if df['nombre'][i] in t:
                q_id_artista = f"SELECT id_artista FROM artistas WHERE nombre_artista = '{df['artista'][i]}';"
                q_id_cancion = f"SELECT id_cancion FROM canciones WHERE cancion = '{df['nombre'][i]}';"
                
            mycursor.execute(q_id_artista)
            id_artista = mycursor.fetchone()[0]
            mycursor.execute(q_id_cancion)
            id_cancion = mycursor.fetchone()[0]
            query = (id_artista, id_cancion)
            queries_artista_cancion.append(query)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's Cut'' at line 1

In [71]:
queries_artista_cancion

[(464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 (464, 1),
 ...]

In [72]:
info_artistas = f"SELECT id_artista FROM artistas WHERE nombre_artista = '{lista_df_limpios[0]['artista'][0]}';"

In [73]:
info_canciones = f"SELECT id_artista FROM artistas WHERE cancion = '{lista_df_limpios[0]['nombre'][0]}' AND id_lustro;"

In [74]:
mycursor.execute(info_canciones)
x = mycursor.fetchone()

ProgrammingError: 1054 (42S22): Unknown column 'cancion' in 'where clause'

In [128]:
x

20

Por Ãºltimo ,metemos lustro en cancion: